* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}

h1,
h2,
h3,
.footer-student-name {
  font-family: 'Proza Libre', sans-serif;
}

header {
  text-align: center;
  margin-bottom: 100px;
}

.upper-header {
  line-height: 3;
}

header p {
  font-size: 1.05em;
  padding: 0;
}

h1 {
  font-size: 1.60rem;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  line-height: 3;
}

a:hover {
  color: purple;
  transform: scale(1.1);
  transition: 0.25s;
}

li a {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}

.about-me {
  margin-top: 50px;
}

p {
  text-align: center;
  line-height: 1.5;
  padding: 0 0.7em;
}

.student-image {
  width: 210px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 50px 0;
}

.portfolio-section {
  margin-bottom: 100px;
}

h3 {
  text-align: center;
  margin-top: 30px;
}

.project-image {
  width: 100%;
}

.project-description {
  padding-bottom: 2.75em;
  max-width: 320px;
  margin: auto;
}

.contact-section {
  margin-bottom: 60px;
}

.contact-section p {
  margin-bottom: 20px;
  font-size: 1.05em;
  padding: 0;
}

.contact-header {
  margin-bottom: 35px;
}

address {
  text-align: center;
  font-style: normal;
  font-size: 1.05em;
}

address a {
  line-height: 2.5;
}

.main-footer {
  border-top: Solid 1px lightgrey;
  font-size: 0.8em;
  line-height: 6;
}

.footer-student-name {
  font-weight: bold;
  float: left;
}

.back-to-top-link {
  text-transform: uppercase;
  float: right;
}

footer nav {
  display: none;
}

@media (min-width: 768px) {
  .container {
    padding: 0 1em;
  }

  header {
    margin-bottom: 150px;
  }

  h1 {
    padding-top: 1.5em;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 0 1.25em;
  }

  .about-me {
    margin-top: 50px;
  }

  .student-image {
    float: right;
    width: 40%;
  }

  header p {
    width: 60%;
    text-align: left;
    font-size: 1.25rem;
    padding-right: 0.5em;
  }

  .portfolio-section {
    margin: 0;
  }

  .project {
    width: 50%;
    float: left;
  }

  .project:nth-child(even) {
    padding-left: 0.5em;
  }

  .project:nth-child(odd) {
    padding-right: 0.5em;
  }

  .project-description {
    margin: auto;
    padding-bottom: 3.75em;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .contact-section {
    text-align: center;
  }

  .contact-section p {
    font-size: 1.25rem;
    width: 600px;
    display: inline-block;
  }

  address {
    font-size: 1.25rem;
    margin-top: 15px;
  }

  .back-to-top-link {
    display: none;
  }

  footer nav {
    display: inline-block;
    float: right;
  }

  .footer-nav ul {
    margin: 0;
  }

  .footer-nav a:last-child {
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }

  h1 {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 6;
  }

  header nav {
    float: right;
    line-height: 10;
  }

  ul {
    margin: 0;
  }

  .contact-link {
    padding-right: 0;
  }

  .about-me {
    margin: 0;
  }

  header p {
    margin: 0;
    padding-right: 2em;
  }

  .project {
    width: 320px;
  }

  .project:nth-child(even) {
    padding-left: 0;
  }
  .project:nth-child(odd) {
    padding-right: 0;
  }

  .project:nth-child(2),
  .project:nth-child(5) {
    margin: 0 1em;
  }
}